{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ],
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "semi": true,
          "singleQuote": true,
          "trailingComma": "all",
          "endOfLine": "lf"
        }
      ]
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }
  