.modal-overlay {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  color: black;
  background-color: rgba(255, 255, 255, 0.8) !important;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}

.close-button {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: background-color 0.3s;
}