#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.whiteh1 {
  color: var(--text-color, white) !important;
  user-select: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.button-hover-effect {
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 25px;
  padding: 10px 20px;
}

.button-hover-effect:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(3) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}